# Ensure the .htaccess file is read correctly
<IfModule mod_rewrite.c>
    RewriteEngine On
</IfModule>

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /error.html [L]


# Strict-Transport-Security (HSTS) - Enforces HTTPS
# The `max-age` is set to 31536000 seconds (1 year), adjust as needed.
Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"

# Content-Security-Policy (CSP) - Prevents XSS and other content injection attacks
# Adjust the policy based on your specific needs and resources.
Header always set Content-Security-Policy " "

# X-Frame-Options - Prevents clickjacking by disallowing your site from being framed
Header always set X-Frame-Options "DENY"

# Permissions-Policy - Controls which features and APIs can be used by the site
# Adjust the policy based on your needs.
Header always set Permissions-Policy "fullscreen=(self)"

# Ensure that .htaccess directives are effective
<IfModule mod_headers.c>
    # Apply security headers
    Header always set X-Content-Type-Options "nosniff"
    Header always set X-XSS-Protection "1; mode=block"
</IfModule>

